@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: relative;
    background-color: white;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img_box{
    width: 30px;
    height: 30px;
}
button{
    border:none;
    background-color: inherit;
    cursor: pointer;
    width: 40px;
    height: 40px;
}
#openBtn:hover{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f0f0f0;
}

.modal{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    background-color: rgba(235, 235, 235, 0.716);
}

.openModal{
    display: block;
}
.modal_box{
    width: 500px;
    height: 600px;
    background-color: white;
    position: absolute;
    margin: 0 auto;
    left: 0;
    top: 50;
    right: 0;
    padding: 20px;
}
.modal_tile_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

#closeBtn{
    width: 40px;
    height: 40px;
}
#closeBtn:hover{
    background-color: #e2e2e2d5;
    border-radius: 50%;
}
.modal_text{
    text-align: start;
    margin-bottom: 30px;
}
.modal_text_span{
    font-weight: bold;
}
.modal_text2{
    text-align: start;
    font-size: 16px;
    padding-bottom: 15px;
    margin-bottom: 30px;
}










hr{
    width: 500px;
}
#title{
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0 auto;
}
#board{
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}
.tile{
    border: 2px solid lightgray;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct{
    background-color: #6AAA64;
    color: white;
    border-color: white;
}

.present {
    background-color: #C9B458;
    color: white;
    border-color: white;
}
.absent {
    background-color: #787C7E;
    color: white;
    border-color: white;
}



.keyboard-row{
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.key-tile{
    border: 1px solid lightgray;
    width: 36px;
    height: 40px;
    cursor: pointer;
    margin: 1px;

    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-key-tile{
    border: 1px solid lightgray;
    width: 76px;
    height: 40px;
    margin: 1px;

    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}




.title_box{
    width: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid gray;
    padding-bottom: 20px;
}

#Enter{
    cursor: pointer;
}


@media screen and (max-width : 500px) {
    .tile{
        width: 50px;
        height: 50px;
        border: 2px solid lightgray;
        margin: 2.5px;

        color: black;
        font-size: 24px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #board{
        width: 300px;
        height: 370px;
        margin: 0 auto;
        margin-top: 3px;
        display: flex;
        flex-wrap: wrap;
    }
    hr{
        width: 300px;
    }
    #title{
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 2px;
        margin: 0 auto;
    }
    .title_box{
        width: 300px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .keyboard-row{
        width: 360px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }
    .key-tile{
        border: 1px solid lightgray;
        width: 30px;
        height: 34px;
        cursor: pointer;
        margin: 1px;
    
        font-size: 16px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .enter-key-tile{
        border: 1px solid lightgray;
        width: 70px;
        height: 34px;
        margin: 1px;
    
        font-size: 16px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
}

@media screen and (max-width:550px) {
    .modal_box{
        width: 300px;
        height: 400px;
        background-color: white;
        position: absolute;
        margin: 0 auto;
        left: 0;
        top: 50;
        right: 0;
        padding: 20px;
    }
}